{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- .container is main centered wrapper -->
<div class="docs-section" id="grid">
    <h6 class="docs-header">About</h6>
    <p>
        A power, yet easy to use API to help generate thumbnails for all types of files. Simply post the file to the API endpoint and specify the dimensions of the thumbnail. Before you know it your thumbnail will be generated and retrievable.    </p>
    </p>


<pre><code>
POST /convert/image/
{
  "width": 100,
  "height": 100,
  "units": "px"
}
</code></pre>


  </div>
{% endblock %}
